In [33]:
import pandas as pd

In [34]:
# Load the datasets 
schools_df = pd.read_csv("Resources\schools_complete.csv")  
students_df = pd.read_csv("Resources\students_complete.csv")

# Merge both datasets to have a complete view of the data
school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name"])

In [35]:
# Total number of unique schools
total_schools = school_data_complete['school_name'].nunique()
total_schools

# Total number of students
total_students = school_data_complete['Student ID'].nunique()
total_students

# Total budget (sum of all school budgets)
total_budget = schools_df['budget'].sum()
total_budget

# Average math score
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

# Average reading score
avg_reading_score = school_data_complete['reading_score'].mean()
avg_reading_score

# % Passing math (students with math score >= 70)
passing_math = school_data_complete[school_data_complete['math_score'] >= 70].shape[0]
percent_passing_math = (passing_math / total_students) * 100

# % Passing reading (students with reading score >= 70)
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70].shape[0]
percent_passing_reading = (passing_reading / total_students) * 100

# % Overall passing (students passing both math and reading)
overall_passing = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
].shape[0]
percent_overall_passing = (overall_passing / total_students) * 100

In [36]:
# Create the District Summary DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_math_score],
    "Average Reading Score": [avg_reading_score],
    "% Passing Math": [percent_passing_math],
    "% Passing Reading": [percent_passing_reading],
    "% Overall Passing": [percent_overall_passing]
})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [37]:
# Group by school name for metrics
school_grouped = school_data_complete.groupby(['school_name'])

In [38]:
# Calculating key metrics per school
school_summary = pd.DataFrame({
    "School Type": schools_df.set_index('school_name')['type'],
    "Total Students": school_grouped.size(),
    "Total School Budget": schools_df.set_index('school_name')['budget'],
    "Per Student Budget": schools_df.set_index('school_name')['budget'] / school_grouped.size(),
    "Average Math Score": school_grouped['math_score'].mean(),
    "Average Reading Score": school_grouped['reading_score'].mean(),
    "% Passing Math": school_data_complete[school_data_complete['math_score'] >= 70]
        .groupby('school_name').size() / school_grouped.size() * 100,
    "% Passing Reading": school_data_complete[school_data_complete['reading_score'] >= 70]
        .groupby('school_name').size() / school_grouped.size() * 100,
    "% Overall Passing": school_data_complete[
        (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)
    ].groupby('school_name').size() / school_grouped.size() * 100
})

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [39]:
# Highest-performing schools by % Overall Passing
top_schools = school_summary.sort_values("% Overall Passing", ascending=False).head(5)

# Lowest-performing schools by % Overall Passing
bottom_schools = school_summary.sort_values("% Overall Passing", ascending=True).head(5)

top_schools, bottom_schools

(                    School Type  Total Students  Total School Budget  \
 school_name
 Cabrera High School     Charter            1858              1081356
 Thomas High School      Charter            1635              1043130
 Griffin High School     Charter            1468               917500
 Wilson High School      Charter            2283              1319574
 Pena High School        Charter             962               585858

                      Per Student Budget  Average Math Score  \
 school_name
 Cabrera High School               582.0           83.061895
 Thomas High School                638.0           83.418349
 Griffin High School               625.0           83.351499
 Wilson High School                578.0           83.274201
 Pena High School                  609.0           83.839917

                      Average Reading Score  % Passing Math  % Passing Reading  \
 school_name
 Cabrera High School              83.975780       94.133477          97.039828
 Thomas High School               83.848930       93.272171          97.308869
 Griffin High School              83.816757       93.392371          97.138965
 Wilson High School               83.989488       93.867718          96.539641
 Pena High School                 84.044699       94.594595          95.945946

                      % Overall Passing
 school_name
 Cabrera High School          91.334769
 Thomas High School           90.948012
 Griffin High School          90.599455
 Wilson High School           90.582567
 Pena High School             90.540541  ,
                       School Type  Total Students  Total School Budget  \
 school_name
 Rodriguez High School    District            3999              2547363
 Figueroa High School     District            2949              1884411
 Huang High School        District            2917              1910635
 Hernandez High School    District            4635              3022020
 Johnson High School      District            4761              3094650

                        Per Student Budget  Average Math Score  \
 school_name
 Rodriguez High School               637.0           76.842711
 Figueroa High School                639.0           76.711767
 Huang High School                   655.0           76.629414
 Hernandez High School               652.0           77.289752
 Johnson High School                 650.0           77.072464

                        Average Reading Score  % Passing Math  \
 school_name
 Rodriguez High School              80.744686       66.366592
 Figueroa High School               81.158020       65.988471
 Huang High School                  81.182722       65.683922
 Hernandez High School              80.934412       66.752967
 Johnson High School                80.966394       66.057551

                        % Passing Reading  % Overall Passing
 school_name
 Rodriguez High School          80.220055          52.988247
 Figueroa High School           80.739234          53.204476
 Huang High School              81.316421          53.513884
 Hernandez High School          80.862999          53.527508
 Johnson High School            81.222432          53.539172  )

In [40]:
# Group by school and grade to get average math score
math_scores_by_grade = school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean().unstack()
math_scores_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

In [41]:
# Group by school and grade to get average reading score
reading_scores_by_grade = school_data_complete.groupby(['school_name', 'grade'])['reading_score'].mean().unstack()
reading_scores_by_grade

grade                       10th       11th       12th        9th
school_name
Bailey High School     80.907183  80.945643  80.912451  81.303155
Cabrera High School    84.253219  83.788382  84.287958  83.676136
Figueroa High School   81.408912  80.640339  81.384863  81.198598
Ford High School       81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Hernandez High School  80.660147  81.396140  80.857143  80.866860
Holden High School     83.324561  83.815534  84.698795  83.677165
Huang High School      81.512386  81.417476  80.305983  81.290284
Johnson High School    80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Rodriguez High School  80.629808  80.864811  80.376426  80.993127
Shelton High School    83.441964  84.373786  82.781671  84.122642
Thomas High School     84.254157  83.585542  83.831361  83.728850
Wilson High School     84.021452  83.764608  84.317673  83.939778
Wright High School     83.812757  84.156322  84.073171  83.833333

In [45]:
# Ensure key columns are numeric
numeric_columns = [
    'Average Math Score', 'Average Reading Score', 
    '% Passing Math', '% Passing Reading', '% Overall Passing'
]

# Convert to numeric and handle non-numeric values
school_summary[numeric_columns] = school_summary[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Check for any NaN values
print(school_summary[numeric_columns].isna().sum())

Average Math Score       0
Average Reading Score    0
% Passing Math           0
% Passing Reading        0
% Overall Passing        0
dtype: int64

In [49]:
# Define spending bins and labels
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Add the 'Spending Ranges (Per Student)' column
school_summary['Spending Ranges (Per Student)'] = pd.cut(
    school_summary['Per Student Budget'], bins=spending_bins, labels=spending_labels
)

# Group by spending ranges and calculate the mean
spending_summary = school_summary.groupby('Spending Ranges (Per Student)', observed=False).agg(
    {
        'Average Math Score': 'mean',
        'Average Reading Score': 'mean',
        '% Passing Math': 'mean',
        '% Passing Reading': 'mean',
        '% Overall Passing': 'mean'
    }
)

# Display the spending summary DataFrame
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [47]:
# Define size bins and labels
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Add the 'School Size' column to the DataFrame based on total students
school_summary['School Size'] = pd.cut(
    school_summary['Total Students'], bins=size_bins, labels=size_labels
)

# Group by 'School Size' and calculate mean metrics
size_math_scores = school_summary.groupby("School Size")["Average Math Score"].mean()
size_reading_scores = school_summary.groupby("School Size")["Average Reading Score"].mean()
size_passing_math = school_summary.groupby("School Size")["% Passing Math"].mean()
size_passing_reading = school_summary.groupby("School Size")["% Passing Reading"].mean()
size_overall_passing = school_summary.groupby("School Size")["% Overall Passing"].mean()

# Create the size_summary DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the size summary
size_summary

C:\Users\jayne\AppData\Local\Temp\ipykernel_15460\322954071.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_summary.groupby("School Size")["Average Math Score"].mean()
C:\Users\jayne\AppData\Local\Temp\ipykernel_15460\322954071.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = school_summary.groupby("School Size")["Average Reading Score"].mean()
C:\Users\jayne\AppData\Local\Temp\ipykernel_15460\322954071.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_summary.groupby("School Size")["% Passing Math"].mean()
C:\Users\jayne\AppData\Local\Temp\ipykernel_15460\322954071.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = school_summary.groupby("School Size")["% Passing Reading"].mean()
C:\Users\jayne\AppData\Local\Temp\ipykernel_15460\322954071.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = school_summary.groupby("School Size")["% Overall Passing"].mean()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [48]:
# Group by 'School Type' and calculate mean metrics
type_math_scores = school_summary.groupby("School Type")["Average Math Score"].mean()
type_reading_scores = school_summary.groupby("School Type")["Average Reading Score"].mean()
type_passing_math = school_summary.groupby("School Type")["% Passing Math"].mean()
type_passing_reading = school_summary.groupby("School Type")["% Passing Reading"].mean()
type_overall_passing = school_summary.groupby("School Type")["% Overall Passing"].mean()

# Create the type_summary DataFrame
type_summary = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

# Display the type summary
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208